

body{
    background-color: #FFF8EF;
    font-family: 'Arial',sans-serif;
    font-size: 20px;
}

/*  */

.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*  */

.d-flex{
    display: flex;
}
/*  */

.text-center{text-align: center;}